.attendance-clock{
	display:flex;
	flex-direction:row;
	margin:$page-margin 0;
	.canvas-clock{
		display:block;
	}
	.clock-text{
		display:inline-block;
		flex-grow:1;
		width:20%;
		font-size:2em;
	}
	.date{
		order:1;
		text-align:right;
	}
	.time{
		order:3;
	}
	.canvas-clock{
		order:2;
	}
}

@media screen and (min-device-width:200px) and (max-device-width:767px) and (orientation:portrait){
	.attendance-clock{
		flex-direction:column;
		.clock-text{
			width:auto;
		}
		.date, .time{
			text-align:center;
		}
		.canvas-clock{
			width:50%;
			height:50%;
			margin:0 auto;
		}
	}
}
@media screen and (min-device-width:480px) and (max-device-width:1023px) and (orientation:landscape){
	.attendance-clock{
		.canvas-clock{
			width:50%;
			height:50%;
		}
		.clock-text{
			width:auto;
			height:20%;
		}
		.date{
			margin-top:2em;
			order:2;
			text-align:left;
		}
		.time{
			order:3;
			position:relative;
			top:6em;
			left:-8em;
			width:1px;
		}
		.canvas-clock{
			order:1;
		}
	}
}