.attendance-clock{
	display:flex;
	flex-direction:row;
	margin:$page-margin 0;
	.canvas-clock{
		display:block;
	}
	.clock-text{
		display:inline-block;
		flex-grow:1;
		width:20%;
		font-size:2em;
	}
	.date{
		order:1;
		text-align:right;
	}
	.time{
		order:3;
	}
	.canvas-clock{
		order:2;
	}
}