$border-color:		#001D8D;

$ppl-blue:			#0033FF;
$ppl-blue-dark:		#0021A6;
$ppl-blue-grey:		#304CBF;
$ppl-blue-light:	#4065FF;
$ppl-blue-white:	#738EFF;

$ppl-logo-red:		#762123;
$ppl-logo-white:	#E6E7E8;
$ppl-logo-blue:		#1C3F95;

$ppl-message:       #00EE00;
$ppl-message-error: #EE0000;

$highlight-red:		#FFB0AA;
$highlight-orange:	#C59F85;
$highlight-yellow:	#FFE67F;
$highlight-green:	#7FCF7F;
$highlight-blue:	#93A9FF;
$highlight-purple:	#C5AAE5;

$text-blue:			#000080;

$background-white:	#EEEEEE;

$pop-white:			#FFFFFF;
$dull-white:        #EEEEEE;

$shadow-grey:       #BBBBBB;
$shadow-grey-dark:  #333333;

$button-border:             #253a92;
$button-border-hover:       #1c2c6d;
$button-background-hover:   #263c96;
$button-blue-gradient-start:#263c96;
$button-blue-gradient-end:  #0d3cff;
