/* was too lazy to get postcss-import working, so just update this file to recompile the CSS*/
$aaaaa: 1em;

@import 'variables.scss';
@import 'colours.scss';
@import 'button.scss';
@import 'touchscreenHeader.scss';
@import 'touchscreenFooter.scss';
@import 'paperlessLogo.scss';
@import 'attendanceClock.scss';
@import 'attendanceClockInOut.scss';


html{
	box-sizing:border-box;
}
body{
	background-color:$background-white;
	color:$text-blue;
	margin:0;
	font-size:$font-size;
	font-family:Verdana, Geneva, sans-serif;
}
hr{
	color:$ppl-blue-dark;
}

.main{
	margin:0 $page-margin;
	font-size:1.6em;
}

@media screen and (min-device-width:200px) and (max-device-width:767px) and (orientation:portrait){
	html body{
		font-size: 6px;
	}
}
@media screen and (min-device-width:480px) and (max-device-width:1023px) and (orientation:landscape){
	html body{
		font-size:6px;
	}
}